<%- include("../includes/header.ejs", {title:"Resume - View By Id"}); %>

<h1>Resume</h1>

        <br />
<ul>
    <li>Resume Owner First, Last Name: <%= resume.first_name + ','  + resume.last_name %></li>
</ul>

<%- include("../includes/footer.ejs"); %>