<%- include("../includes/header.ejs", {title:"Skill - " + result[0].skill_name}); %>
    <h1>Skill</h1>
    <ul>
        <li>Skill Name: <%= result[0].skill_name %></li>
        <li>Skill Description: <%= result[0].description%></li>
    </ul>

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>

