<%- include("../includes/header.ejs", {title:"Address - " + result1[0].address_name}); %>
    <h1>Address</h1>
    <ul>
        <li>Address Name: <%= result1[0].address_name %></li>
        <li>Address(es):
            <ul>
                <% for(var i=0; result1.length > i; i++ ) { %>
                    <li><%= result1[i].street + ', ' + result1[i].zip_code %></li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>

